/* custom scrollbar */

*::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #fff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #242424;
    border-radius: 10px;
    border: 3px none #ffffff;
  }

/* Cards, containing pokemon name, image and short description */

.card {
    border: none;
    border-radius: 10px;
}

.card:hover {
    filter: drop-shadow(1px 2px 3px rgba(0,0,0,0.7));
}

.image-container {
    height: 150px;
}

.image-container > img {
    height: 100%;
    object-fit: contain;
}

.pokemon-category {
    background-color: rgba(0,0,0,0.3);
}

.pokemon-category img {
    height: 32px;
    width: 32px;
}

/* round bg behind type-images */

.type-container {
    border-radius: 50%;
    padding: 8px;
}

.type-container-grass {
    background-color: lightgreen;
}

.type-container-poison {
    background-color: rgb(200 255 121);
}

.type-container-fire {
    background-color: #ff8e8e;
}

.type-container-water {
    background-color: rgb(48, 48, 255);
}

.type-container-flying {
    background-color: rgb(171, 255, 255);
}

.type-container-bug {
    background-color: burlywood;
}

.type-container-normal {
    background-color: #444444;
}

/* bg colors based on type */

.bg-color-grass {
    background-color: green;
}

.bg-color-grass:hover {
    background-color: rgb(0, 158, 0);
}

.bg-color-fire {
    background-color: rgb(169, 0, 0);
}

.bg-color-fire:hover {
    background-color: rgb(198, 0, 0);
}

.bg-color-water {
    background-color: blue;
}

.bg-color-water:hover {
    background-color: rgb(71, 71, 255);
}

.bg-color-bug {
    background-color: darkorange;
}

.bg-color-bug:hover {
    background-color: rgb(255, 164, 54);
}

.bg-color-normal {
    background-color: #333;
    color: white;
}

.bg-color-normal:hover {
    background-color: #444444;
    color: white;
}

