.reset-block-margin {
    margin-block-start: 0;
    margin-block-end: 0;
}

.icons {
    height: 24px;
    width: 24px;
    object-fit: cover;
}

.pointer:hover {
    cursor: pointer;
}

.color-white {
    color: white;
}

.bg-color-333 {
    background-color: #333;
}

.h-100-percent {
    height: 100%;
}

.w-100-percent {
    width: 100%;
}

.pl-16 {
    padding-left: 16px;
}

.pr-16 {
    padding-right: 16px;
}

.pb-12 {
    padding-bottom: 12px;
}

.ml-16 {
    margin-left: 16px;
}

.mr-16 {
    margin-right: 16px;
}

.h-10-vh {
    height: 10vh;
}