.reset-block-margin {
    margin-block-start: 0;
    margin-block-end: 0;
}

.icons {
    height: 24px;
    width: 24px;
    object-fit: cover;
}

.pointer:hover {
    cursor: pointer;
}

.color-white {
    color: white;
}

.bg-color-333 {
    background-color: #333;
}